process {
    tag={ "${sid} - ${bname}" }
    publishDir={"./results_tractometry/$sid/$task.process"}
    scratch=true
    errorStrategy='retry'
    maxRetries=1
    stageInMode='copy'
    stageOutMode='rsync'
    afterScript='sleep 1'
}

params {
    //**Output directory**//
    output_dir=false

    nb_points=20
    min_lesion_vol=7
    use_provided_centroids=true
    skip_projection_endpoints_metrics=true
    bundle_suffix_to_remove='_cleaned'

    min_streamline_count=1000
    min_voxel_count=5000

    colors=["AC":"0x02d983",
            "AF_L":"0xcc0000",
            "AF_R":"0xffdf0f",
            "CC_Fr_1":"0x0d6cbf",
            "CC_Fr_2":"0xbf0099",
            "CC_Oc":"0xf20505",
            "CC_Pa":"0x9ad909",
            "CC_Pr_Po":"0x04bf74",
            "CC_Te":"0x0418cc",
            "CG_L":"0xe605b9",
            "CG_R":"0xff6f00",
            "FAT_L":"0x89bf0b",
            "FAT_R":"0x14ffa1",
            "FPT_L":"0x0f27ff",
            "FPT_R":"0xd90452",
            "FX_L":"0xbf5504",
            "FX_R":"0xb8ff12",
            "ICP_L":"0x08c5cc",
            "ICP_R":"0x5a0ff2",
            "IFOF_L":"0xff0862",
            "IFOF_R":"0xe56a0b",
            "ILF_L":"0x3ccc08",
            "ILF_R":"0x13ebf2",
            "MCP":"0x4e0ecc",
            "MdLF_L":"0xbf0c4d",
            "MdLF_R":"0xd9bd09",
            "OR_ML_L":"0x02f22a",
            "OR_ML_R":"0x0074d9",
            "PC":"0xa809d9",
            "POPT_L":"0xbfa708",
            "POPT_R":"0x08bf26",
            "PYT_L":"0x0d8eff",
            "PYT_R":"0xc60dff",
            "SCP_L":"0x02d983",
            "SCP_R":"0x0d6cbf",
            "SLF_L":"0xbf0099",
            "SLF_R":"0xf20505",
            "UF_L":"0x9ad909",
            "UF_R":"0x04bf74"]

    mean_std_density_weighting=true
    mean_std_per_point_density_weighting=true
    endpoints_metric_stats_normalize_weights=true

    statsPublishDir="./results_tractometry/Statistics"
    plotPublishDir="./results_tractometry/Plots"

    processes=false
}

if(params.processes) {
    if(params.processes > Runtime.runtime.availableProcessors()) {
        throw new RuntimeException("Number of processes higher than available CPUs.")
    }
    else if(params.processes < 1) {
        throw new RuntimeException("When set, number of processes must be >= 1 " +
                                   "and smaller or equal to the number of CPUs.")
    }
    else {
        executor.$local.cpus=params.processes
    }
}

if(params.output_dir) {
    process.publishDir = {"$params.output_dir/$sid/$task.process"}
    params.statsPublishDir="$params.output_dir/Statistics"
    params.plotPublishDir="$params.output_dir/Plots"
}

singularity.autoMounts=true

profiles {
    macos {
            process.scratch="/tmp"
    }
}
